body{margin-top:20px;
    background:#eee;
    }
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    .avatar.sm {
        width: 2.25rem;
        height: 2.25rem;
        font-size: .818125rem;
    }
    .table-nowrap .table td, .table-nowrap .table th {
        white-space: nowrap;
    }
    .table>:not(caption)>*>* {
        padding: 0.75rem 1.25rem;
        border-bottom-width: 1px;
    }
    table th {
        font-weight: 600;
        background-color: #eeecfd !important;
    }

    .radius-10 {
        border-radius: 10px !important;
    }
    
    .border-info {
        border-left: 5px solid  #0dcaf0 !important;
    }
    .border-danger {
        border-left: 5px solid  #fd3550 !important;
    }
    .border-success {
        border-left: 5px solid  #15ca20 !important;
    }
    .border-warning {
        border-left: 5px solid  #ffc107 !important;
    }
    
    
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    }
    .bg-gradient-scooter {
        background: #17ead9;
        background: -webkit-linear-gradient( 
    45deg
     , #17ead9, #6078ea)!important;
        background: linear-gradient( 
    45deg
     , #17ead9, #6078ea)!important;
    }
    .widgets-icons-2 {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ededed;
        font-size: 27px;
        border-radius: 10px;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    .text-white {
        color: #fff!important;
    }
    .ms-auto {
        margin-left: auto!important;
    }
    .bg-gradient-bloody {
        background: #f54ea2;
        background: -webkit-linear-gradient( 
    45deg
     , #f54ea2, #ff7676)!important;
        background: linear-gradient( 
    45deg
     , #f54ea2, #ff7676)!important;
    }
    
    .bg-gradient-ohhappiness {
        background: #00b09b;
        background: -webkit-linear-gradient( 
    45deg
     , #00b09b, #96c93d)!important;
        background: linear-gradient( 
    45deg
     , #00b09b, #96c93d)!important;
    }
    
    .bg-gradient-blooker {
        background: #ffdf40;
        background: -webkit-linear-gradient( 
    45deg
     , #ffdf40, #ff8359)!important;
        background: linear-gradient( 
    45deg
     , #ffdf40, #ff8359)!important;
    }


               
    .main_sec {
        position:absolute;
        width:100%;
        z-index:1;
        height:100vh;
        background: #fff;
        }
    .main_sec .logo{
        position: absolute;
        margin-right: 600px;
        text-transform:uppercase;
        color: #83f;
        font-size:1.5em;
        font-weight:700;
        right:20px;
        top:20px;
        }
    .shadow{
    position:absolute;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    background-color: transparent white;
    transition:all 0.5s ease-in-out;
    opacity:0;
    z-index:3;
        }
    .shadow_opac {
        opacity:1;
        }
    
    .menu-container {
        position:absolute;
        width:20%;
        height:100%;
        left:-20%;
        top:0;
        z-index:10;
        background:#fff;
        transition:all 0.5s ease;
    }
    .active {
        left:0;
        }
    
    .menu-container  .bg-image{
        position:relative;
        width:100%;
        height:60px;
        background-color:#83f;
        box-shadow: 0 3px 4px -1px rgba(0,0,0,0.25);
    }
    .menu-container p{
        position:absolute;
        left:18px;
        top:20px;
        text-transform:uppercase;
        font-size:1.5em;
        font-weight:700;
        color:#fff;
        }
    .menu-line {
        width:40px;
        height:40px;
        position:relative;
        top:10px;
        left:110%;
        z-index:999;
        transition:0.5s ease;
        background: #83f;
        }
    .line {
        left:73%;
        }
    .menu-line div {
        position:absolute;
        width:30px;
        height:5px;
        background:#fff;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        border-radius:3px;
        transition:0.5s ease;
        }
    .menu-line.opacity div {
        background:transparent;
        }
    .menu-line.opacity div:before{
        top:0;
        transform:rotate(45deg);
        }
    .menu-line.opacity div:after{
        top:0;
        transform:rotate(-45deg);
        }
    
    .menu-line div:before,.menu-line div:after {
        content:" ";
        position:absolute;
        width:30px;
        height:5px;
        background:#fff;
        left:50%;
        border-radius:3px;
        transform:translateX(-50%);
        transition:0.5s ease;
        }
    .menu-line div:before{
        top:-10px;
        }
    .menu-line div:after{
        top:10px;
        }
    
    .menu-container ul li a {
        position:relative;
        width:100%;
        line-height:50px;
        margin-left:20px;
        text-decoration:none;
        font-size:14px;
        color:#000;
        transition:all 0.5s ease;
        }
    .menu-container ul li a i {
        margin-right:30px;
        font-size:16px;
        color:#828282;
        }
    .menu-container ul li:first-child{
        margin-top:10px;
        }
    .menu-container ul li:nth-child(6){
        margin-top:10px;
        border-top:1px solid #aaa;
        padding-top:10px;
        }
    
    .menu-container ul li:hover a{
        margin-left:40px;
        }
        img{
            width: 30%;
            height: 30%;
            border-radius: 30%;
        }
        .nav-item{
            margin-left: 1180px;
        }

        .customer-links {
            list-style: none; /* Remove default list styles (bullet dots) */
            padding: 0; /* Remove default padding */
        }
        
        .customer-links li {
            display: inline-block; /* Display list items horizontally */
            margin-right: 10px; /* Add some spacing between list items */
        }

        .swal2-container {
            height: 200px;
            display: flex;
            flex-direction: row-reverse; /* Align the container to the right side */
        }
    
        .swal2-popup {
            max-width: 300px; /* Set the maximum width of the popup */
            text-align: left; /* Align text to the left */
        }
    
        .swal2-icon {
            margin: 15px; /* Add margin to the icon */
            width: 30px; /* Set the width of the icon */
            height: 30px; /* Set the height of the icon */
        }
    
        .swal2-content {
            padding: 15px; /* Add padding to the content */
        }
    
        .swal2-actions {
            justify-content: flex-end; /* Align actions to the right side */
        }
        
        